html,
body,
#root {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  /* height: -webkit-fill-available; */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* min-height: -webkit-fill-available; */
}

.header {
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
}

.footer {
  flex: 0 1 40px;
}

/* h1 {
  letter-spacing: 1px;
} */

h1 {
  color: #3e3f3a;
  /* font-family: "Helvetica Neue", sans-serif; */
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.content h1 {
  text-align: center;
  align-content: center;
  justify-content: center;
}

.navbar-brand > a {
  text-decoration: none;
  color: white;
}

.navbar-toggler,
.navbar-toggler:focus {
  color: transparent;
  outline: none;
  border: 0px solid transparent;
  border-color: transparent;
  padding-right: 12px;
}

.navbar-collapse {
  /* background-color: #8e8c84; */
  color: white;
}

#search > input::placeholder {
  color: white;
}

.navSearch {
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.navSearch > .form-control {
  border: transparent;
  color: white;
}

#profile > a > button,
#cart > a > button > svg {
  color: white;
  font-size: 1.2rem;
}

.footerLinks {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.footerLinks > svg {
  font-size: 1.3rem;
  color: white;
}

.footer-copyright {
  color: white;
}

.loginForm {
  display: block;
  text-align: left;
}

.productCard {
  size: 18rem;
  max-height: 26rem;
}

.productLink > a {
  color: black;
  text-decoration: none;
}

.productLink > a:hover {
  color: #93c54b;
  text-decoration: none;
}

.productCard > a > img {
  width: 100%;
  height: 18vh;
  object-fit: contain;
}

.productDetailCard > .card-img {
  height: 30vh;
  object-fit: contain;
}

.cartProduct > img {
  height: 15vh;
  object-fit: contain;
}

.cardMd {
  width: 30rem;
}

.cardBig {
  width: 100%;
  max-width: 100%;
  height: 75vh;
}

.cardBig .card-title {
  font-size: 2rem;
}

.cardImg-sm {
  height: 50vh;
  object-fit: contain;
  align-content: center;
}

.eCart {
  align-items: center;
}

.cardImgEcart {
  width: 130px;
  height: 130px;
  object-fit: contain;
  align-content: center;
}

.cardImg-lg {
  height: 60vw;
  object-fit: contain;
  align-content: center;
}

.card-img-top {
  max-height: 250px;
  min-height: 200px;
  object-fit: contain;
}

.input-group-sm svg {
  font-size: 0.9rem;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.success {
  color: #4bbf73;
}

.failure {
  color: #d9534f;
}

.rating {
  color: gold;
}

.deleteCart svg {
  font-size: 0.9rem;
}

.totals tr td {
  font-size: 13px;
}

.product-qty span {
  font-size: 12px;
}

.receiptBrand {
  background-color: #8e8c84;
}
